HTTP_PORT=8080
GRPC_ADDR=account-service.passwordhash.tech:50051
GRPC_TIMEOUT=5 # in sec
LOG_LEVEL=trace
STORAGE_FOLDER="./storage"

# POSTGRES
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=go-photo
