.idea/
.vscode/
*.iml

*mock*

storage
api/*
api/
pkg/account_v1
/docs/


*.exe
*.dll
*.so
*.dylib
*.out

*.test
bin/
build/
dist/

*.log
*.env
*.env.*
!.env.example
!.env.ci
*.local

vendor/

#*.pb.go
#*.pb.gw.go

.DS_Store
Thumbs.db

*.log

*.tmp
*.swp
*.swo
*~
