.idea/
.vscode/
*.iml

*mock*

photos/
api/account_v1

*.exe
*.dll
*.so
*.dylib
*.out

*.test
bin/
build/
dist/

*.log
*.env
*.env.*
!.env.example
*.local

vendor/

#*.pb.go
#*.pb.gw.go

.DS_Store
Thumbs.db

*.log

*.tmp
*.swp
*.swo
*~